name: build_base

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag of the built docker image"
        required: true
        type: string
        default: "latest"

defaults:
  run:
    shell: bash

jobs:
  build-base-image:
    name: Build and Push Base Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to docker
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push base
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/${{ github.repository }}/test-base:${{ github.event.inputs.tag }}
          file: ./Dockerfile.base
